<!DOCTYPE html>
<html>
    <head>
    </head>
        <body>

            <div class="header">
                <h1>Welcome to MusicPlaya</h1>
            </div>
            <div class="music_search">
                <input type="search" id="search_song" placeholder="Search For Songs..."/>
                <button type="submit" id="search_song_button">Search</button>
                <script>
                    document.getElementById('imageBox').src = "img/apple_" + total + ".png";
                </script>
            </div>
            <div class="test">
                {{title}}
            </div>
        </body>
</html>
